@{
    ViewData["Title"] = Localizer["Forgot password"];
}
<div class="lock-wrapper">
    <div class="panel lock-box" id="panelinSignin">
        <h4>@Localizer["Reset your password"]</h4>
        <div class="iconic-input right">
            <label class="text-muted">Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder. </label>
        </div>
        <a class="btn btn-block btn-default" href="@Values.WWWServerAddress">Back to Aiursoft.com</a>
    </div>
</div>

