<div class="lock-wrapper">
    <div class="panel lock-box" id="panelinSignin">

        @Localizer["Forgot Password:"]
        <form asp-controller="api" asp-action="setlang" method="post">
            <input type="hidden" name="culture" value="zh" />
            <input type="hidden" name="Host" value="@Model.Host" />
            <input type="hidden" name="Path" value="@Model.Path" />
            <input class="btn btn-block btn-primary" type="submit" value="中文 - 中国" />
        </form>

    </div>
</div>

