@model Aiursoft.API.Models.UserViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = Localizer["Forgot password"];
}
<div class="lock-wrapper">
    <div class="panel lock-box" id="panelinSignin">
        <h4>@Localizer["Reset your password:"]</h4>
        <form asp-controller="User" asp-action="ForgotPassword" method="post">
            <div class="iconic-input right">
                <label class="text-muted">Enter your email address and we will send you a link to reset your password.</label>
                <input type="email" asp-for="Email" class="form-control" placeholder="@Localizer["Enter your email address"]">
                <i class="fa fa-envelope"></i>
            </div>
            <button class="btn btn-block btn-primary" type="submit">Send Password Reset Email</button>
        </form>
    </div>
</div>

