@{
    ViewData["Title"] = Localizer["Reset password"];
}
<div class="lock-wrapper">
    <div class="panel lock-box" id="panelinSignin">
        <h4>@Localizer["Reset your password"]</h4>
        <div class="iconic-input right">
            <label class="text-muted">Your password has been reset. </label>
        </div>
        <a class="btn btn-block btn-default" href="@Values.AccountServerAddress">Back to account center</a>
    </div>
</div>

