@{
    ViewData["Title"] = Localizer["Reset password"];
}


<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">@Localizer["Reset your password"]</div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <p>Your password has been reset.</p>
            </div>
            <a class="btn btn-primary btn-block" href="@Values.WWWServerAddress">Back to Aiursoft.com</a>
        </div>
    </div>
</div>